/* is there supposed to be new lines after the "table" and "th","td" */
table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
}

div {
  width: 320px;
  padding: 5px;
  border: 1px solid gray;
  margin: 0;
  color: gray;
}

#id1 {
  background-color: black;
}

.class1 {
  font-family: arial, sans-serif;
}
